@model BloodBankSystem.Models.BBSViewModels.HospitalDetails

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Hospital</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Hospital.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Hospital.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Hospital.Address)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Hospital.Address)
        </dd>
        <dt class="col-sm-2">
            Amount of blood
        </dt>
        <dd class="col-sm-10">
            <table class="table">
                <tr>
                    <th>Blood Type</th>
                    <th>Amount</th>
                </tr>
                @foreach (var item in Model.BloodLevels)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Type)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Amount)
                        </td>
                    </tr>
                }
            </table>
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Hospital.Nurses)
        </dt>
        <dd class="col-sm-10">
            <table class="table">
                <tr>
                    <th>Full Name</th>
                    <th>Hire Date</th>
                </tr>
                @foreach (var item in Model.Hospital.Nurses)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.FullName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.HireDate)
                        </td>
                    </tr>
                }
            </table>
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Hospital.HospitalID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
