@model BloodBankSystem.Models.Nurse

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Nurse</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PESEL)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PESEL)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.HireDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.HireDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Hospital)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Hospital.Name)
        </dd>
        <dt class="col-sm-2">

        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Hospital.Address)
        </dd>
        <dt class="col-sm-2">
            Blood Collections
        </dt>
        <dd class="col-sm-10">
            <table class="table">
                <tr>
                    <th>Date</th>
                    <th>Donor</th>
                </tr>
                @foreach (var item in Model.BloodDonations)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.DonationDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Donor.FullName)
                        </td>
                    </tr>
                }
            </table>
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.NurseID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
