@model IEnumerable<BloodBankSystem.Models.BloodDonation>

@{
    ViewData["Title"] = "Index";
}

<h1>Blood Donations</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<form asp-action="Index" method="get" class="form-inline my-2 my-lg-0">
    <div class="form-actions no-color" >
        <p>
            Find: <select name="hospital" asp-items="ViewBag.HospitalID" class="form-control"><option value="">-- Select Hospital --</option> </select>                   
            <input type="submit" value="Search" class="btn btn-primary" /> |
            <a asp-action="Index">Back to Full List</a>
        </p>
    </div>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DonationDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Volume)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Donor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nurse)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DonationDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Volume) ml
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Donor.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nurse.FullName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.BloodDonationID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.BloodDonationID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.BloodDonationID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
